html,body{
    height: 100%;
    width: 100%;
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
}
#headerBox{
  
    text-align: center;
    position: relative;
    padding: 10px 10px 0px 0px;
    font-size: 40px;
    margin: 0;
    /* height: 50px; */
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    color: rgb(255, 255, 255);
 
}
#content{
    text-align: center;
    position: relative;
    margin: 10px;

}  

.button{
    height: 36px;
    transition-duration: 0.4s;
   
}
.button:hover {
    background-color: #4CAF50; 
    color: white;
  }

#search{
    align-items: center; 
    padding: 20px 20px 20px 20px;  
    
}
.SearchResultTitle{
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    color: aliceblue;
    height: 20%;
    text-align: center;
    font-size: 20px;
    font:bold;
    border-radius: 20px;
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #295473 74%);
    
}
#resultbox{
    margin-right: 20px;
    margin-left: 20px;
 
    border-radius: 20px;
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #275779 74%);
    
}
#searchResult{
    align-items: center;
    
}
#BookButton{
    height: 25px;
    color: rgb(9, 135, 49);
    transition-duration: 0.4s;
    border-radius: 25px;
    
}
#BookButton:hover{
    background-color: #4CAF50; 
    color: rgb(248, 244, 244);
   
}

footer{
    position: relative;
    padding: 0;
    margin: 0;
    height: 20px;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    color: rgb(255, 255, 255);
    /* background-color: #1E1E1E; */
    font-size: 10px;
    
}

#div1{
    animation-duration: 2s;
    animation-name: slidein;
    animation-iteration-count: 1;
    color: aliceblue;
    height: 20%;
    text-align: center;
   
    
}
#div2{
    animation-duration: 1.5s;
    animation-name: slidein;
    animation-iteration-count: 1;
    color: aliceblue;
    height: 20%;
    text-align: center;
   
}
#div3{
    animation-duration: 2s;
    animation-name: slidein;
    animation-iteration-count: 1;
    color: aliceblue;
    height: 20%;
    text-align: center;
}
#div4{
    animation-duration: 2.5s;
    animation-name: slidein;
    animation-iteration-count: 1;
    color: aliceblue;
    height: 20%;
    text-align: center;
}
#div5{
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: 1;
    color: aliceblue;
    height: 20%;
    text-align: center;
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  